@import '../../stylesheets/styles';

.header {
  &__wrapper {
    padding: 40px;
  }

  &__name {
    @include pull(right);
  }
}

.exp {
  font-size: 20px;
  @include font-weight(bold);
}

@media screen and (max-width: $screen-sm) {
  .header {
    &__wrapper {
      padding: 20px;
    }
  }

  .exp {
    font-size: 16px;
  }
}