@import '../../stylesheets/import-styles';

.header {
  margin-bottom: 50px;

  &__wrapper {
    padding: 40px 50px;
  }

  &__name {
    @include pull(right);
  }
}

.exp {
  font-size: 20px;
  @include font-weight(bold);
}