@import '../../stylesheets/import-styles';

.footer {
  justify-content: middle;
  align-content: middle;

  &__wrapper {
    padding: 40px;
    background-color: $black;
  }

  &__name {
    @include pull(right);
  }

  .exp {
    color: $white;
  }
}