@import '../../stylesheets/styles';

.footer {
  background-color: $black;

  &__wrapper {
    padding: 30px 40px;
  }

  &__name {
    @include pull(right);
  }

  .exp {
    color: $white;
  }
}

@media screen and (max-width: $screen-sm) {
  .footer {
    &__wrapper {
      padding: 20px;
    }
  }
}