@import '../../stylesheets/import-styles';

.steps {
  margin-bottom: 50px;
  border-bottom: 1px solid $gray-lighter;
  @extend %clearfix;

  li {
    width: 25%;
    text-align: center;
    font-size: 20px;
    color: $green;
    padding: 50px 20px;
    @include font(primary, bold);
    @include pull(left);

    &.active {
      color: $white;
      background-color: $green;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .steps {
    li {
      width: 100%;
      border-top: 1px solid $green;
      padding: 20px;
      font-size: 14px;
      @include display(block);
      @include pull(none);
    }
  }
}