// ==================================================
// Helpers
// ==================================================

// ==================================================
// Pull left/right
// ==================================================

@mixin pull($side) {
  @if $side == left {
    float: left;
  } @else if $side == right {
    float: right;
  }
}

// ==================================================
// Border Radius
// ==================================================

@mixin border-radius($rounded) {
  -webkit-border-radius: $rounded;
  -moz-border-radius: $rounded;
  border-radius: $rounded;
}