// ==================================================
// Helpers
// ==================================================

// ==================================================
// Pull left/right
// ==================================================

@mixin pull($side) {
  @if $side == left {
    float: left;
  } @else if $side == right {
    float: right;
  } @else if $side == none {
    float: none;
  }
}

// ==================================================
// Border Radius
// ==================================================

@mixin border-radius($rounded) {
  -webkit-border-radius: $rounded;
  -moz-border-radius: $rounded;
  border-radius: $rounded;
}

// ==================================================
// Clearfix
// ==================================================

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// ==================================================
// Display
// ==================================================

@mixin display($display) {
  @if $display == inline-block {
    display: inline-block;
  } @else if $display == block {
    display: block;
  } @else if $display == hide {
    display: none;
  } @else if $display == flex {
    display: flex;
  }
}

// ==================================================
// Position
// ==================================================

@mixin position($pos) {
  @if $pos == absolute {
    position: absolute;
  } @else if $pos == fixed {
    position: fixed;
  } @else if $pos == relative {
    position: relative;
  }
}