// ==================================================
// Helpers
// ==================================================

// ==================================================
// Pull left/right
// ==================================================

@mixin pull($side) {
  @if $side == left {
    float: left;
  } @else if $side == right {
    float: right;
  }
}

// ==================================================
// Border Radius
// ==================================================

@mixin border-radius($rounded) {
  -webkit-border-radius: $rounded;
  -moz-border-radius: $rounded;
  border-radius: $rounded;
}

// ==================================================
// Clearfix
// ==================================================

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// ==================================================
// Display
// ==================================================

@mixin display($display) {
  @if inline-block {
    display: inline-block;
  } @else if block {
    display: block;
  } @else if hide {
    display: none;
  } @else if flex {
    display: flex;
  }
}