// ==================================================
// Variables
// 
// 1. Colors
// 2. Spaces
// 3. Typography
// 4. Media Queries
// ==================================================

// ==================================================
// 1. Colors
// ==================================================

//
// Grays
// --------------------------------------------------

$gray-darker: #373737;
$gray-dark: #404040;
$gray-lighter: #DDDDDD;
$gray-dark: #979797;

//
// Pallets
// --------------------------------------------------

$black: #000000;
$green: #65A80D;
$white: #FFFFFF;
$red: #B7092A;

// ==================================================
// 2. Spaces
// ==================================================
