@import '../../stylesheets/styles';

.input-field {
  height: 75px;
  padding: 12px 30px;
  border: 1px solid $gray-lighter;
  background: $white;
  outline: none;
  @include position(relative);
  @include font(primary, regular);
  @include border-radius(100px);

  &.active,
  &:hover,
  &:focus {
    color: $green;
    border: 2px solid $green;
  }

  & {
    &__error {
      border-width: 2px;
      border-color: $red;
      color: $red;
      padding-right: 50px;
  
      &:hover,
      &:focus {
        color: $red;
        border-color: darken($red, 10%);
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .input-field {
    height: 50px;
  }
}