@import '../../stylesheets/import-styles';

.button {
  height: 60px;
  padding: 12px 30px;
  color: $gray-dark;
  border: 1px solid $gray-lighter;
  @include border-radius(100px);
  @include display(inline-block);
  @include font(primary, bold);

  &__success {
    color: $white;
    border-color: $green;
    background-color: $green;
  }

  &:hover,
  &__success:hover {
    border-color: darken($green, 10%);
    background-color: darken($green, 10%);
    color: $white;
  }
}