// ==================================================
// Stylesheet
// ==================================================

// ==================================================
// Core
// ==================================================

@import 'core/typography';
@import 'core/variables';

// ==================================================
// Scaffolding
// ==================================================
body {
  @include font(primary, regular);
  color: $black;
}

#app {
  flex: 1;
  align-self: center;
  justify-content: center;
  align-content: center;
}

h1 {
  font-size: 36px;
  margin: 0 0 80px;
  text-align: center;
  @include font(primary, bold);
}

.content {
  padding: 30px 40px 80px;
}