// ==================================================
// Stylesheet
// ==================================================

@import 'core/helpers';
@import 'core/typography';
@import 'core/variables';

// ==================================================
// Scaffolding
// ==================================================

body {
  font-size: $text-size;
  color: $black;
  @include font(primary, regular);
}

h1 {
  font-size: 36px;
  margin-bottom: 80px;
  text-align: center;
  @include font(primary, bold);
}

h2 {
  font-size: 26px;
  margin-bottom: 30px;
  @include font(primary, bold);
}

#app {
  flex: 1;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.content {
  padding-top: 30px;
  padding-bottom: 80px;

  &__wrapper {
    padding-left: $gutter;
    padding-right: $gutter;
    @extend %clearfix;
  }
}

.col {
  padding-right: $gutter;
  padding-left: $gutter;
  @include pull(left);
}

.block-form {
  width: 62%;
}

.block-detail {
  width: 38%;
}