// ==================================================
// Stylesheet
// ==================================================

// ==================================================
// Core
// ==================================================

@import 'core/typography';
@import 'core/variables';

// ==================================================
// Scaffolding
// ==================================================
body {
  @include font(primary, regular);
  color: $black;
}

#app {
  flex: 1;
  align-self: center;
  justify-content: center;
  align-content: center;
}

h1 {
  margin: 0 0 60px;
  text-align: center;
}

.content {
  padding: 40px 40px 60px;
}