@import '../../stylesheets/styles';

.form {
  &__legend {
    font-size: 18px;
    margin-bottom: 30px;
    @include font-weight(bold);
  }

  label {
    font-size: 14px;
    margin: 0;
    color: $gray-dark;
    @include font-weight(regular);
  }

  &__row {
    margin-bottom: 45px;
    @extend %clearfix;
  }

  &__buttons__address {
    & button:last-child {
      margin-left: 15px;
    }
  }

  &__link {
    font-size: 12px;
    margin-left: 15px;
  }

  .submit {
    @extend %clearfix;

    .button__success {
      @include pull(right);
    }
  }

  &__horizontal {
    label {
      margin-right: 12px;
    }

    .input__group {
      align-items: center;
      @include display(flex);

      &__mr25 {
        margin-right: 25px;
      }

      &__break {
        margin-bottom: 14px;
      }
      
      input {
        width: 100%;
      }

      &__field__cep {
        width: 40%;
      }

      &__field__street {
        width: 54%;
      }

      &__field__number {
        width: 26%;
      }

      &__field__compl {
        width: 65%;
      }

      &__field__state {
        width: 19%;
      }

      &__field__city {
        width: 50%;
      }

      &__field__dates {
        width: 46%;
      }

      &__field__month {
        margin-right: 15px;
      }

      &__field__month,
      &__field__year {
        width: 47%;
      }

      &__field__card_number {
        width: 45.5%;
      }

      &__field__card_name {
        width: 30%;
      }

      &__field__card_name {
        width: 30%;
      }

      &__field__plots {
        width: 55%;
      }

      label,
      &__field {
        @include display(flex);
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .form {
    &__legend {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &__buttons__address {
      & button {
        width: 100%;
        margin: 0 0 10px 0;
        @include display(block);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}