@import '../../stylesheets/styles';

.form {
  &__legend {
    font-size: 18px;
    margin-bottom: 30px;
    @include font-weight(bold);
  }

  label {
    font-size: 14px;
    margin: 0;
    color: $gray-dark;
    @include font-weight(regular);
  }

  &__row {
    margin-bottom: 45px;
    @extend %clearfix;

    &__hidden {
      @include display(hide);
    }
  }

  &__buttons__address {
    & button:last-child {
      margin-left: 15px;
    }
  }

  &__link {
    font-size: 12px;
    margin-left: 15px;
  }

  .submit {
    @extend %clearfix;

    .button__success {
      @include pull(right);
    }
  }

  &__horizontal {
    label {
      margin-right: 12px;
    }

    .input__group {
      align-items: center;
      @include display(flex);
      
      &__field {
        @include position(relative);
      }

      &__error {
        &:after {
          content: '';
          height: 18px;
          width: 18px;
          top: 38%;
          right: 25px;
          background: url('./img/ico-warning.png') no-repeat;
          background-size: cover;
          border: none;
          @include position(absolute);
        }
      }

      &__mr25 {
        margin-right: 25px;
      }

      &__break {
        margin-bottom: 14px;
      }
      
      input {
        width: 100%;
      }

      &__field__cep {
        width: 40%;
      }

      &__field__street {
        width: 54%;
      }

      &__field__number {
        width: 26%;
      }

      &__field__compl {
        width: 65%;
      }

      &__field__state {
        width: 19%;
      }

      &__field__city {
        width: 50%;
      }

      &__field__dates {
        width: 46%;
      }

      &__field__month {
        margin-right: 15px;
      }

      &__field__month,
      &__field__year {
        width: 47%;
      }

      &__field__card_number {
        width: 37%;
      }

      &__field__card_name {
        width: 38.5%;
      }

      &__field__plots {
        width: 55%;
      }

      &__field__card_code {
        width: 25%;
      }

      label,
      &__field {
        @include display(flex);
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .form {
    &__row {
      margin-bottom: 20px;
    }

    &__legend {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &__horizontal {
      .input__group {

        & {
          @include display(block);
        }

        label {
          margin-right: 0;
          margin-bottom: 5px;
          padding-left: 25px;
        }

        &__field {
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }

    &__buttons__address {
      & button {
        width: 100%;
        margin: 0 0 10px 0;
        @include display(block);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}